.host-comp {
align-items: center;
display: flex;
justify-content: flex-end;
width: 100%;
margin: -100px -45px;
}

.hostPicture {
display: flex;
margin-left: 10px;
width: 32px;
height: 32px;
border-radius: 50%;
background: #c4c4c4;}

.hostPicture img{
    border-radius: 50%;
	object-fit: cover;
}

.host-name {
display: flex;
justify-content: flex-end;
align-items: center;
width: 63px;
height: 66px;
text-align: right;
font-size: 12px;
font-weight: 500;}

.rate-host-container {
display: flex;
flex-direction: row-reverse;
justify-content: space-between;}
.hostInfo-container {
display: flex;
flex-direction: column;
width: 100%;
justify-content: space-between;}

@media screen and (min-width: 993px){
    .host-name{
        font-size: 18px;
    }
    .rate-host-container{
    flex-direction: column;
	justify-content: center;
    padding-top: 80px;
    
    }
    .hostPicture{
        width: 64px;
		height: 64px;
    }
    .hostInfo-container{
        flex-direction: row;
	    align-items: flex-end;
    }
}
@media screen and (max-width: 357px){

    .host-comp{
        margin: -30px -15px;
    }
}